* {
    margin: 0px;
    padding: 0px;

}

.first-part{
    background-image: url("lines.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    width: 1315px;
    height: 822px;
    position: relative;
    left: -116px;
}

.second-part{
    background-color:#EEEEEE ;
    width: 1200px;
    height: 700px;
}

.third-part{
    background-image: url("people.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    width: 1200px;
    height: 666px;
}