* {
    margin: 0px;
}

.first-part{
    background-image: url("lines.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    width: 1315px;
    height: 822px;
    position: relative;
    left: -116px;
}

.second-part{
    background-color:#EEEEEE ;
    width: 1200px;
    height: 700px;
}

.third-part{
    background-image: url("people.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    width: 1200px;
    height: 666px;
}

/* -----------------End of the background part -------------*/

#hero-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 426px;
    height: 292px;
    left: 387px;
    top: 252px;

} 

.hero_logo {
    margin-bottom: 13px;
}

div#hero-block h1 {
    margin-bottom: 42px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
}

div#hero-block h2 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
} 

/*--------------- Hero part ends---------------*/

.button_style{
    background-image: url("buttonblue.svg");
    height: 36px;
    width: 115px;
    border: 0px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 0px;
    margin-top: 21px;
} 

#main{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    position: relative;
}

#main h2{
    height: 119px;
    width: 669px;
    margin-top: 87px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #464547;
}

#main h3{
    height: 57px;
    width: 426px;
    margin-top: 40px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: #666666;
}

#main p{
    height: 194px;
    width: 983px;
    margin-top: 48px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    text-align:center;
    color: #000000;
}

#prefooter{
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    position: relative;
}

#prefooter h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
}

#prefooter button{
    height: 150px;
    width: 150px;
    border: 0px;
    background-image: url("play.svg");
    border-radius: 50%;    
}

#playbutton


